header {
  text-align: center;
  color: darkgrey; 
}
.column {
  width: 300px;
  float: left;
  padding: 4px;
  margin: 12px;
  font-family: Arial, Helvetica, sans-serif
}

.about-me {
  width: 30%;
  float: right;
  background-color: peachpuff;
  padding: 6px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

img {
  float: left;
  height: 300px;
  width: auto;
  padding: 4px;
}

h3 {
  color: cadetblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}